<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <!--meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: 'unsafe-inline' http://ec2-18-222-122-40.us-east-2.compute.amazonaws.com https://ssl.gstatic.com http://code.jquery.com; style-src 'unsafe-inline'; media-src *; img-src * 'self' data:; font-src *;connect-src https: http: ws:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https:" /-->
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; img-src * data: 'unsafe-inline'; connect-src * 'unsafe-inline'; frame-src *;">
    <meta http-equiv="Content-Security-Policy" content="default-src * gap://ready file:; style-src 'self' 'unsafe-inline' *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *">
    <!-- Jquery ---->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/9880cf5998.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <!-- angular imports -->
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/module/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular/init-angular-app.js"></script>
    <script type="text/javascript" src="js/angular/service/video-resource.js"></script>
    <script type="text/javascript" src="js/angular/controller/video-controller.js"></script>
    
    <style>
      body {background-color: rgb(13, 14, 53);}
      h1   {color: blue;}
      p    {color: red;}
      button {color: blue;}

      .btn {
       color: rgb(17, 61, 126); 
       background-color: rgb(234, 236, 250);
       border:navy; 
       padding: 2px 4px;
       size:0ch
       }
    </style>
    
    
    
    <title>Media</title>
     <div style="display: flex; justify-content: center;">  
      <img src="img/i0tnet3.PNG" alt="i0tnet"  height="119" width="179" >
     </div>  
    
     <div style="display: flex; justify-content: center;">  
      <p>Inspiring Music    </p> <div> <i class="fab fa-apple" style="color:rgba(14, 38, 85, 0.925)"></i> </div>
     </div>  

 
    
</head>

<body ng-app="videoApp" ng-controller="videoController" ng-init="initVideoUrls()"  background-color="#0d0438" >

       <!--
       <audio id="myMusic">
       <source src="media/GemmaHayes-WickedGame.mp3"/>
       </audio>
       preload="metadata"
       --->

<div ng-repeat="videoItem in videoItems"  style="display: flex; justify-content: center;"> 
    <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <video id="myVideo_{{$index}}"  width="320" height="240" poster="{{videoItem.posterUrl}}" ng-mouseenter="play('myVideo_'+$index)" ng-mouseleave="pause('myVideo_'+$index)" controls>      
                <source src="{{videoItem.videoUrl}}">  
              </video>
            </div>
            <div id="play_{{$index}}" class="btn btn_red" ng-click="play('myVideo_'+$index)"></span><a href="#"><i class="fas fa-play fa-lg" style="color:rgba(5, 15, 41, 0.986)" ></i><span class="icon"></a><span></span></div>
            <div id="pause_{{$index}}" class="btn btn_red" ng-click="pause('myVideo_'+$index)"></span><a href="#"><i class="fas fa-pause-circle fa-lg" style="color:rgba(5, 15, 41, 0.986)"  ></i><span class="icon"></a><span></span></div>
            <div id="preview_{{$index}}" class="btn btn_red" ng-click="preview('myVideo_'+$index)"></span><a href="#"><i class="far fa-caret-square-up fa-lg" style="color:rgba(5, 15, 41, 0.986)"  ></i><span class="icon"></a><span></span></div>
            <div id="stop_{{$index}}" class="btn btn_red" ng-click="stop('myVideo_'+$index)"></span><a href="#"><i class="far fa-stop-circle fa-lg" style="color:rgb(5, 15, 41, 0.986)"  ></i><span class="icon"></a><span></span></div>
     </div>
</div>

   <script type="text/jscript" src="cordova.js"></script>
</body>



</html>