<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <!--meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: 'unsafe-inline' http://ec2-18-222-122-40.us-east-2.compute.amazonaws.com https://ssl.gstatic.com http://code.jquery.com; style-src 'unsafe-inline'; media-src *; img-src * 'self' data:; font-src *;connect-src https: http: ws:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https:" /-->
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; img-src * data: 'unsafe-inline'; connect-src * 'unsafe-inline'; frame-src *;">
    <meta http-equiv="Content-Security-Policy" content="default-src * gap://ready file:; style-src 'self' 'unsafe-inline' *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *">
    <!-- Jquery ---->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/9880cf5998.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- angular imports -->
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/module/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular/init-angular-app.js"></script>
    <script type="text/javascript" src="js/angular/service/video-resource.js"></script>
    <script type="text/javascript" src="js/angular/controller/video-controller.js"></script>
    
    <style>
	*{
    margin: 0px;
    padding: 0px;
	}
	body {width:100%;height:100%;margin:0;overflow:hidden;background-color:#252525;}

      
       h1   {color: blue;}
       p    {color: rgba(14, 38, 85, 0.925);}

      .btn {
        color:white;
        background-color: white; 
        border:white;  
        padding: 4px 6px;
        size:0vmax
       } 

       video {
          /* width: 200px;
          height: 400px; */
          object-fit: contain;
        }

        ul {
            list-style-type: inline;
            margin: 0;
            padding: 0;
            }

            li {
               display: inline;
               }


      .grid {
          display: grid;
          grid-template-columns: 1fr  1fr;
          grid-gap: 10px;
          align-items: stretch;
          justify-items: center;
          grid-row: span 2;
      }

      .column {
          float: left;
          width: 50%;
      }

      /* Clear floats after the columns */
      .video-description {
          content: "";
          display: table;
          clear: both;
      }
	  
	  p {
        font-family: "Comic Sans MS";
        }


            
    </style>
    
    
    
    <title>Media</title>
     <div style="display: flex; justify-content: left;">  
	  <img src="img/i0tnet3.PNG" alt="i0tnet"  height="119" width="179" >
     </div>  
    
     <div style="display: flex; justify-content: center;">  
      <h3 style="color:rgba(14, 38, 85, 0.925)">LiveEvents & TV </h3> <div> <i class="fab fa-apple" style="color:rgba(14, 38, 85, 0.925)"></i> </div>
      
     </div> 
    
</head>



<body ng-app="videoApp" ng-controller="videoController" ng-init="initVideoUrls()"  background-color="#252525" >

<!-- <div>
     <ul>
        <li><a href="landing.html" target="_self" style="color:rgba(14, 38, 85, 0.925)">Home</a></li>
        <li><a href="logout.html" target="_self"  style="color:rgba(14, 38, 85, 0.925)">Logout</a></li>
        <li ng-if="flashBackItem.videoId"><a href="video-details.html?videoId={{flashBackItem.videoId}}&playTime={{flashBackItem.playTime}}" target="_self" style="color:rgba(14, 38, 85, 0.925)" >Flashback</a></li>
        <li><a href="live_stream.html" target="_self" style="color:rgba(14, 38, 85, 0.925)"  >Live TV</a></li>
		<li><a href="upload.html" target="_self" style="color:rgba(14, 38, 85, 0.925)" >Upload</a></li>
        
      </ul>
</div>
 -->

 <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="landing.html" target="_self" style="color:rgba(14, 38, 85, 0.925)">Home</a>
      <a class="dropdown-item" href="live_stream.html" target="_self" style="color:rgba(14, 38, 85, 0.925)"  >LiveTv</a>
      <a class="dropdown-item" href="javascript:void(0)" ng-click="searchVideosByCategory('MUSIC')">Music</a>
      <a class="dropdown-item" href="javascript:void(0)" ng-click="searchVideosByCategory('MOVIES')">Movies</a>
      <a class="dropdown-item" href="javascript:void(0)" ng-click="searchVideosByCategory('COMICS')">Comics</a>
      <a class="dropdown-item" ng-if="flashBackItem.videoId" href="video-details.html?videoId={{flashBackItem.videoId}}&playTime={{flashBackItem.playTime}}" target="_self" style="color:rgba(14, 38, 85, 0.925)" >Replay</a>
      <!--<a class="dropdown-item" href="#">Sports</a>-->
      <!--<a class="dropdown-item" href="#">News</a>-->
      <a class="dropdown-item" href="logout.html" target="_self"  style="color:rgba(14, 38, 85, 0.925)">Logout</a>
    </div>
  </div>
  
<div style="justify-content: left" ><input id="search" ng-model="searchText" ng-change="initVideoUrls()" type="text" name="search"  width="105" height="55" ><i class="fas fa-search"></i></div>

<main ng-repeat="videoItem in videoItems" class="grid">
   <div class="container">	
    <div class="column">
        <a href="video-details.html?videoId={{videoItem.id}}" target="_self">
            <video playsinline id="myVideo_{{$index}}" width="220" height="150" poster="{{videoItem.posterUrl}}">
                <source src="{{videoItem.posterUrl}}">
            </video>
        </a>
    </div>
    <div class="column video-description">
      <p>  {{videoItem.shortDesc}} </p>
    </div>
   </div>
</main>

   <script type="text/jscript" src="cordova.js"></script>
</body>

<footer>
  <p align="left"><font size="1">Designed by: i0tnet USA LLC @ copy rights Contact:contacts@i0tnet.com </font> </p>
  <a href="" align="left"><font size="1">App documentation(click) </font></a> 
  <p align="left"> <font size="1" color="black">Next genration i0tnet streaming platform enables you to reach billions of users thats right at your finger tips..</font> </p>
</footer>

<img src="img/i0tnet3.PNG" alt="i0tnet" align="left" height="65" width="95" >

</html>