<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: 'unsafe-inline' http://ec2-3-16-136-0.us-east-2.compute.amazonaws.com http://google.com https://ssl.gstatic.com; style-src 'self' 'unsafe-inline'; media-src *; img-src * 'self' data:; font-src *;connect-src https: http: ws:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https:" />
    <!-- Jquery ---->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css"/>
    <script src="https://kit.fontawesome.com/9880cf5998.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!-- angular imports -->
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/module/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular/init-angular-app.js"></script>
    <script type="text/javascript" src="js/angular/service/user-resource.js"></script>
    <script type="text/javascript" src="js/angular/service/login-resource.js"></script>
    <script type="text/javascript" src="js/angular/service/video-resource.js"></script>
    <script type="text/javascript" src="js/angular/controller/login-controller.js"></script>
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>

    <style>
      
	  *{
    margin: 0px;
    padding: 0px;
       } 
  body {width:100%;height:100%;margin:0;overflow:hidden;background-color:#252525;}
 
	  
      h1   {color: blue;}
      p    {color: rgb(212, 52, 52);}
     

      .btn {
       color: rgb(17, 61, 126); 
       border:navy; 
       padding: 2px 4px;
       size:0ch
       }

       input {
       border: 2px solid red;
       border-radius: 4px;
       box-sizing: border-box;
        }
		
		 p {
        font-family: "Comic Sans MS";
           }
   

    </style>
    
    
    
    <title>Media</title>
     <div style="display: flex; justify-content: left;">  
      <!-- <img src="img/i0tnet3.PNG" alt="i0tnet"  height="119" width="179" > -->
      <img src="img/i0tnet3.PNG" alt="i0tnet"  height="119" width="179" >
     </div>  
    
     <div style="display: flex; justify-content: center;">  
      <div> <i class="fab fa-apple" style="color:rgba(14, 38, 85, 0.925)"></i> </div>
      <p>Experience reality and adventure be a Hero & Pro   </p> <i class="fas fa-text"></i> 
     </div>  

    
  <script type="text/javascript">
   
   
  </script>
  
</head>

<body ng-app="videoApp" ng-controller="loginController" ng-init="init()" background-color="#252525" >


<div style="display: flex; justify-content: center;" background-color="#252525" > 
    <div class="col-sm-6 col-md-4" ng-repeat="showcase in showcases">
       <div class="thumbnail">
              <!-- <video id="myVedio"  width="320" height="240" poster="http://ec2-18-222-122-40.us-east-2.compute.amazonaws.com/video-box/videoBox/showPoster?poster=TaylorSwift.PNG"  controls id="Player"  >      
                <source src="http://ec2-18-222-122-40.us-east-2.compute.amazonaws.com/video-box/videoBox/streamVideo?video=TaylorSwift.mp4">   -->
              <video id="myVideo"  width="320" height="240" poster="{{showcase.posterUrl}}"  controls autoplay id="Player">
                  <source src="{{showcase.videoUrl}}">
              </video>
            </div>
            <div id="play" class="btn btn_red" onclick="play('myVideo', 15)" ></span><a href="#"><i class="fas fa-play fa-lg" style="color:rgba(5, 15, 41, 0.986)" ></i><span class="icon"></span></a><span></span></div>
            <div id="pause" class="btn btn_red" onclick="pause('myVideo', 15)"></span><a href="#"><i class="fas fa-pause-circle fa-lg" style="color:rgba(5, 15, 41, 0.986)"  ></i><span class="icon"></span></a><span></span></div>
            <div id="preview" class="btn btn_red" onclick="preview('myVideo', 15)"></span><a href="#"><i class="far fa-caret-square-up fa-lg" style="color:rgba(5, 15, 41, 0.986)"  ></i><span class="icon"></span></a><span></span></div>
     </div>
</div>

<div class="error-message" style="display: flex; justify-content:center; margin-top: 10px; margin-bottom:10px;" ng-show="errorLoginMessage != null">
    {{errorLoginMessage}}
</div>
<div class="container" style="display: flex; justify-content:center;" background-color="#252525" >
<form name="loginForm" id="loginForm" method="POST" data-ng-submit="login(loginForm, $event)" novalidate>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email"><b>Email:</b> <i class="fas fa-text"></i></label>
    <div class="col-sm-45">
      <input type="email" ng-model="loginDetails.username" class="form-control" id="email" placeholder="Enter email" ; size="36" ; border-radius: 6px; highlighted;  border: 2px solid red;>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd"><b>Password:</b> <i class="fas fa-text"></i></label>
    <div class="col-sm-45">
      <input type="password" ng-model="loginDetails.password" class="form-control" id="pwd" placeholder="Enter password" ; size="36" ; border-radius: 6px; highlighted; border: 2px solid red;>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox" checked> Remember me</label>
      </div>
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary" >Login</button>
  <button class="btn btn-primary" onclick="location.href='register.html';">Register</button>
</form>
</div>
</body>

<footer>
  <p align="left"><font size="1">Designed by: i0tnet USA LLC @ copy rights Contact:contacts@i0tnet.com </font> </p>
  <a href="" align="left"><font size="1">App documentation(click) </font></a> 
  <p align="left"> <font size="1" color="black">Next genration i0tnet streaming platform enables you to reach billions of users thats right at your finger tips..</font> </p>
</footer>

<img src="img/i0tnet3.PNG" alt="i0tnet" align="left" height="65" width="95" >


</html>