<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <!-- Jquery ---->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css"/>
    <script src="https://kit.fontawesome.com/9880cf5998.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!-- angular imports -->
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/module/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular/init-angular-app.js"></script>
    <script type="text/javascript" src="js/angular/service/user-resource.js"></script>
    <script type="text/javascript" src="js/angular/controller/user-controller.js"></script>
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>

    <style>
	
      *{
    margin: 0px;
    padding: 0px;
 } body {width:100%;height:100%;margin:0;overflow:hidden;background-color:#252525;}
 

      h1   {color: blue;}
      p    {color: red;}
     

      .btn {
       color: rgb(17, 61, 126); 
       /* background-color: rgb(245, 245, 248); */
       border:navy; 
       padding: 2px 4px;
       size:0ch
       }

       input {
       border: 2px solid red;
       border-radius: 4px;
       box-sizing: border-box;
        }
		
		p {
        font-family: "Comic Sans MS";
   }
   
    </style>
    
    
    
    <title>Media</title>
     <div style="display: flex; justify-content: left;">  
      <!-- <img src="img/i0tnet3.PNG" alt="i0tnet"  height="119" width="179" > -->
      <img src="img/i0tnet3.PNG" alt="i0tnet"  height="119" width="179" >
     </div>  
    
     <div style="display: flex; justify-content: center;">  
      <div> <i class="fab fa-apple" style="color:rgba(14, 38, 85, 0.925)"></i> </div>
      <p>Experience reality and adventure be a Hero & Pro   </p> <i class="fas fa-text"></i> 
     </div>  

    
  <script type="text/javascript">
   
   
  </script>
  
</head>

<body ng-app="videoApp" ng-controller="userController" background-color="#252525" >
<div class="error-message" style="display: flex; justify-content:center;" ng-show="createUserErrors.length > 0">
    <ul>
        <li ng-repeat="errorMessage in createUserErrors">{{errorMessage}}</li>
    </ul>
</div>
<div class="container" style="display: flex; justify-content:center;">
<form class="form-horizontal" name="createUserForm" method="POST" data-ng-submit="createNewUser(createUserForm, $event)" novalidate>
    <div class="form-group">
        <label class="col-sm-12" ng-class="{'invalid': createUserForm.firstName.$invalid && createUserForm.$submitted}" for="email"><b>First Name:</b> <i class="fas fa-text"></i></label>
        <div class="col-sm-12">
          <input type="text" ng-model="userDetails.firstName" name="firstName" ng-required="true" class="form-control" id="firstName" placeholder="First name" size="42" style="box-sizing: border-box; border: 2px solid;">
        </div>
        <div class="col-sm-12 error-message" ng-show="createUserForm.firstName.$error.required && createUserForm.$submitted">Field is required</div>
      </div>

      <div class="form-group">
        <label class="col-sm-12" ng-class="{'invalid': createUserForm.lastName.$invalid && createUserForm.$submitted}" for="email"><b>Last Name:</b> <i class="fas fa-text"></i></label>
        <div class="col-sm-12">
          <input type="text" ng-model="userDetails.lastName" name="lastName" ng-required="true" class="form-control" id="lastName" placeholder="Last name" size="42" style="box-sizing: border-box; border: 2px solid;">
        </div>
        <div class="col-sm-12 error-message" ng-show="createUserForm.lastName.$error.required && createUserForm.$submitted">Field is required</div>
      </div>
    
  <div class="form-group">
    <label class="col-sm-12" ng-class="{'invalid': createUserForm.username.$invalid && createUserForm.$submitted}" for="email"><b>Email:</b> <i class="fas fa-text"></i></label>
    <div class="col-sm-12">
      <input type="email" ng-model="userDetails.username" name="username" ng-required="true" class="form-control" id="email" placeholder="Enter email" size="42"  style="box-sizing: border-box; border: 2px solid;">
    </div>
    <div class="col-sm-12 error-message" ng-show="createUserForm.username.$error.required && createUserForm.$submitted">Field is required</div>
    <div class="col-sm-12 error-message" ng-show="createUserForm.username.$error.email && createUserForm.$submitted">This is not valid email address</div>
  </div>
  <div class="form-group">
    <label class="col-sm-12" for="pwd"><b>Password:</b> <i class="fas fa-text"></i></label>
    <div class="col-sm-12">
      <input type="password" ng-model="userDetails.password" name="password" ng-required="true" class="form-control" id="pwd" placeholder="Enter password" size="42"  style="box-sizing: border-box; border: 2px solid;">
    </div>
    <div class="col-sm-12 error-message" ng-show="createUserForm.password.$error.required && createUserForm.$submitted">Field is required</div>
    <label class="col-sm-12" for="pwd"><b> Re-enter Password:</b> <i class="fas fa-text"></i></label>
    <div class="col-sm-12">
        <input type="password" ng-model="confirmPassword" name="confirmPassword" class="form-control" id="pwd1" data-ng-required="true" placeholder="Re-enter password" size="42" style="box-sizing: border-box; border: 2px solid;">
    </div>
    <div class="col-sm-12 error-message" ng-show="createUserForm.confirmPassword.$error.required && createUserForm.$submitted">Field is required</div>
    <div class="col-sm-12 error-message" ng-show="createUserForm.confirmPassword.$error.match && createUserForm.$submitted">Confirm password doesn't match password. </div>
  </div>
  <button type="submit" class="btn btn-primary" >Register</button>
  <button type="cancel" class="btn btn-primary" onclick="window.location.href = 'login.html'" >Cancel</button>
</form>
</div>
</body>

<footer>
  <p align="left"><font size="1">Designed by: i0tnet USA LLC @ copy rights Contact:contacts@i0tnet.com </font> </p>
  <a href="" align="left"><font size="1">App documentation(click) </font></a> 
  <p align="left"> <font size="1" color="black">Next genration i0tnet streaming platform enables you to reach billions of users thats right at your finger tips..</font> </p>
</footer>

<img src="img/i0tnet3.PNG" alt="i0tnet" align="left" height="65" width="95" >


</html>
