<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; img-src * data: 'unsafe-inline'; connect-src * 'unsafe-inline'; frame-src *;">
    <meta http-equiv="Content-Security-Policy" content="default-src * gap://ready file:; style-src 'self' 'unsafe-inline' *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *">
    <!-- Jquery ---->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css"/>
    <script src="https://kit.fontawesome.com/9880cf5998.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!-- angular imports -->
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/module/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular/init-angular-app.js"></script>
    <script type="text/javascript" src="js/angular/service/user-resource.js"></script>
    <script type="text/javascript" src="js/angular/service/video-resource.js"></script>
    <script type="text/javascript" src="js/angular/controller/video-controller.js"></script>
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>

    <style>
      *{
    margin: 0px;
    padding: 0px;
 } body {width:100%;height:100%;margin:0;overflow:hidden;background-color:#252525;}
 

      h1   {color: blue;}
      p    {color: red;}
      

      .btn {
       color: rgb(17, 61, 126);
       /* background-color: rgb(245, 245, 248); */
       border:navy;
       padding: 2px 4px;
       size:0ch
       }

       input {
       border: 2px solid red;
       border-radius: 4px;
       box-sizing: border-box;
        }
		
		p {
        font-family: "Comic Sans MS";
   }
   

    </style>



    <title>Media</title>
    <div style="display: flex; justify-content: left;">
        <!-- <img src="img/i0tnet3.PNG" alt="i0tnet"  height="119" width="179" > -->
        <img src="img/i0tnet3.PNG" alt="i0tnet"  height="119" width="179" >
    </div>

    <div style="display: flex; justify-content: center;">
        <div> <i class="fab fa-apple" style="color:rgba(14, 38, 85, 0.925)"></i> </div>
        <p>Upload video  </p> <i class="fas fa-text"></i>
    </div>


    <script type="text/javascript">

        var uploadVideoUrl;

        function setUploadVideoUrl(url) {
            uploadVideoUrl = url;
        }

        function uploadFile() {
            var form = jQuery("#uploadVideoForm");
            var formData = new FormData(document.getElementById("uploadVideoForm"));
            $.ajax({
                headers: {
                    'x-auth-token': localStorage.getItem("accessToken"),
                    'Authorization': 'Bearer ' + localStorage.getItem("accessToken")
                },
                url: uploadVideoUrl,
                type: 'POST',
                data: formData,
                success: function (data) {
                    alert(data)
                },
                cache: false,
                contentType: false,
                processData: false
            });
        }

    </script>

</head>

<body ng-app="videoApp" ng-controller="videoController" ng-init="initUpload()" background-color="#252525" >
<div>
  <ul>
    <li><a href="landing.html" target="_self">Home</a></li>
    <li><a href="logout.html" target="_self"  >Logout</a></li>
  </ul>
</div>

<div style="display: flex; justify-content: center;">
    <div class="col-sm-6 col-md-4">
        <form id="uploadVideoForm" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-12" for="category"><b>Category:</b> <i class="fas fa-text"></i></label>
                <div class="col-sm-12">
                    <select id="category" name="category" class="form-control">
                        <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-12" for="videoFile"><b>Video:</b> <i class="fas fa-text"></i></label>
                <div class="col-sm-12">
                    <input type="file" id="videoFile" class="form-control" name="videoFile">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-12" for="posterFile"><b>Poster:</b> <i class="fas fa-text"></i></label>
                <div class="col-sm-12">
                    <input type="file" id="posterFile" class="form-control" name="posterFile">
                </div>
            </div>

            <button onclick="uploadFile()" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>



</body>

<footer>
  <p align="left"><font size="1">Designed by: i0tnet USA LLC @ copy rights Contact:contacts@i0tnet.com </font> </p>
  <a href="" align="left"><font size="1">App documentation(click) </font></a> 
  <p align="left"> <font size="1" color="black">Next genration i0tnet streaming platform enables you to reach billions of users thats right at your finger tips..</font> </p>
</footer>

<img src="img/i0tnet3.PNG" alt="i0tnet" align="left" height="65" width="95" >


</html>
