<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <!--meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: 'unsafe-inline' http://ec2-18-222-122-40.us-east-2.compute.amazonaws.com https://ssl.gstatic.com http://code.jquery.com; style-src 'unsafe-inline'; media-src *; img-src * 'self' data:; font-src *;connect-src https: http: ws:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https:" /-->
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; img-src * data: 'unsafe-inline'; connect-src * 'unsafe-inline'; frame-src *;">
    <meta http-equiv="Content-Security-Policy" content="default-src * gap://ready file:; style-src 'self' 'unsafe-inline' *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *">
    <!-- Jquery ---->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="css/jquery/rateit.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="https://kit.fontawesome.com/9880cf5998.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="js/jquery/jquery.rateit.min.js"></script>

    <!-- angular imports -->
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/module/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular/init-angular-app.js"></script>
    <script type="text/javascript" src="js/angular/service/video-resource.js"></script>
    <script type="text/javascript" src="js/angular/controller/video-controller.js"></script>
    
    <style>
      *{
    margin: 0px;
    padding: 0px;
    } body {width:100%;height:100%;margin:0;overflow:hidden;background-color:#252525;}
 

       h1   {color: blue;}
       p    {color: rgb(212, 52, 52);}

      .btn {
        color:white;
        background-color: white; 
        border:white;  
        padding: 4px 6px;
        size:0vmax
       } 

       video {
          /* width: 200px;
          height: 400px; */
          object-fit: contain;
        }
		
		p {
        font-family: "Comic Sans MS";
   }
   

    </style>

    <script type="text/javascript">
        function updateRating(rating) {
            jQuery("#videoRating").rateit();
            jQuery("#videoRating").rateit('value', rating);
        }
    </script>

    <title>Media</title>

</head>

<body ng-app="videoApp" ng-controller="videoController" ng-init="initVideoDetails()" background-color="#252525" >

<div style="display: flex; justify-content: left;">
    <img src="img/i0tnet3.PNG" alt="i0tnet"  height="119" width="179" >
</div>

<div style="display: flex; justify-content: center;">
    <p>Video details    </p> <div> <i class="fab fa-apple" style="color:rgba(14, 38, 85, 0.925)"></i> </div>
</div>

<div style="display: flex; justify-content: center;"> 
   <div class="col-sm-6 col-md-4" ng-repeat="videoDetail in videoDetails">
           <div class="thumbnail">
             <video id="myVideo"  width="370" height="250" poster="{{videoDetail.posterUrl}}" controls>
               <source src="{{videoDetail.videoUrl}}">
             </video>
           </div>
           
         <button id="playButton"   class="btn btn-default"  ng-click="play('myVideo')" style="color:rgba(40, 49, 126, 0.986);width:20%" >
            Play
         </button>
         <button id="pauseButton"  class="btn btn-default"  ng-click="pause('myVideo')" style="color:rgba(40, 49, 126, 0.986);width:20%" >
            Pause
         </button>
         <button id="previewButton"   class="btn btn-default" ng-click="preview('myVideo')" style="color:rgba(40, 49, 126, 0.986);width:20%" >
            Preview
         </button>
         <button id="backButton"  class="btn btn-default" ng-click="goToVideoList()" style="color:rgba(40, 49, 126, 0.986);width:20%" >
            Back
         </button>
         <p>{{videoDetail.longDesc}}</p>
         <span id="videoRating" data-rateit-readonly="true"></span>

    </div>
</div>



   <script type="text/jscript" src="cordova.js"></script>
</body>
<p> </p>
<p> </p>

<p> </p>
<p> </p>

<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>






<footer>
  <p align="left"><font size="1">Designed by: i0tnet USA LLC @ copy rights Contact:contacts@i0tnet.com </font> </p>
  <a href="" align="left"><font size="1">App documentation(click) </font></a> 
  <p align="left"> <font size="1" color="black">Next genration i0tnet streaming platform enables you to reach billions of users thats right at your finger tips..</font> </p>
</footer>

<img src="img/i0tnet3.PNG" alt="i0tnet" align="left" height="65" width="95" >



</html>

